@charset "utf-8";
/* font */
@font-face {
    font-family: 'pretendard';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/Pretendard-Light.woff') format('woff');
  }
  @font-face {
    font-family: 'pretendard';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Pretendard-Regular.woff') format('woff');
  }
  @font-face {
    font-family: 'pretendard';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Pretendard-Bold.woff') format('woff');
  }
  @font-face {
    font-family: 'pretendard';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/Pretendard-Black.woff') format('woff');
  }

/* reset */
*{margin:0;padding:0;font:inherit;color:inherit; font-family: 'pretendard';}
*, :after, :before {box-sizing:border-box;flex-shrink:0;}
:root {-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;text-size-adjust:100%;cursor:default;line-height:1.5;overflow-wrap:break-word;-moz-tab-size:4;tab-size:4}
html, body {height:100%; min-height: 910px; width: 100%; min-width: 1680px; font-size: 16px; background-color: #222222; color: #fff; }
img, picture, video, canvas, svg {display: block;max-width:100%;}
button {background:none;border:0;cursor:pointer;}
a {text-decoration:none}
table {border-collapse:collapse;border-spacing:0}
ul { list-style: none;}
img {display: block;}

 :root {
  --color-rnd: #7a62f8;
  --color-khnp: #f0b300;
  --color-db: #C525E6;
  --color-work: #0cd02e;
  --color-his: #FD5A28;
  --color-gis: #00f1ff;
  --color-pink : #F41A64;
  --color-dkgray: #333333;
  --color-gray: #636363;
  --color-blue: #4D98FE;
  --color-green: #13E08E;
  --color-yellow: #e0cd3d;
}

/* text align */
.t_left {text-align: left !important;}
.t_right {text-align: right !important;}
.t_center {text-align: center !important;}
/* margin */

/* padding */

/* form */
select {background: url(../images/ico_select.png) calc(100% - 8px) 50% no-repeat #fff; font-size: .9em; letter-spacing: -.05em; -webkit-appearance: none; -moz-appearance: none; appearance: none; color: #5e6d7d;}
select option:disabled {display: none;}
/* button */
button:disabled { cursor: default}
button:disabled:hover {color: rgba(255,255,255,.5);}
/* color */
.c_pink {color: var(--color-pink) !important;}
.c_rnd {color: var(--color-rnd) !important;}
.c_khnp {color: var(--color-khnp) !important;}
.c_db {color: var(--color-db) !important;}
.c_work {color: var(--color-work) !important;}
.c_his {color: var(--color-his) !important;}
.c_gis {color: var(--color-gis) !important;}
.c_blue {color: var(--color-blue) !important;}
 
/* table */
.board_wrap {width: 100%;/* height: calc(100% - 40px);max-height: 570px;min-height: 370px; */max-height: calc(100% - 40px);min-height: calc(100% - 40px);overflow: hidden;padding: 0;border: 1px solid rgba(255,255,255, .2);}
table {width: 100%; border-collapse: collapse; }
table tr {border-bottom: 1px solid rgba(255,255,255, .1); margin-bottom: -1px;}
table tr:last-child {border-bottom: 0;}
table td {color: rgba(255,255,255, .3); font-weight: 400; padding: 8.3px 4px; box-sizing: border-box; text-align: center; font-size: .9rem;}
table td .comment {font-size: .8em; font-weight: 200; display: block; line-height: 1.4;}
table .active td {color: rgba(255,255,255, 1);}
table .active {/* box-shadow: inset 0 0 0 3px #0067FF; */ }

/* border */
.border_wrap {border: 1px solid rgba(255,255,255, .2);}
#wrap {width: 100%; height: 100%; position: relative; padding: 0 24px;}
/*********************** HEADER FOOTER ***********************/
header {width: 100%; height: 60px; position:relative}
header h1 {display: block; padding-top: 30px;}
header h1 > img {display: inline-block; vertical-align: middle; margin-right: 8px; width: 34px;}
header h1 > div {display: inline-block; vertical-align: middle;}
header h1 > div p {display: block; font-size: 1.5rem; font-weight: 600; line-height: 1; letter-spacing: 0;}
header h1 > div small {display: block; font-size: .5em; line-height: 1;}
header .alarm {text-align: center; border: 3px solid transparent; background: #313131; height: 40px; padding:0 16px; border-radius: 20px; box-sizing: border-box; /*box-shadow: 5px 5px 5px rgba(0,103,255,.45);*/ position: absolute; left: 50%; top: 20px; transform: translate(-50%, 10px); min-width: 600px;}
header .alarm.active {border-color:var(--color-pink);}
header .alarm > p {font-size: 1.25rem;  line-height: 34px; color: #fff; font-weight: 400; }
header .alarm > p > span {font-weight: 800;}
header .time {width: 310px; padding: 4px 12px;font-size: .9rem;color: rgb(255,255,255, .8);position: absolute;right:0;top: 20px;/*background-color: #313131;*/border-radius: 4px; border: 1px solid #666;}
footer {width: 100%; height: 20px; line-height: 20px;  font-size: .7rem; font-weight: 200; text-align: center; color: rgba(255,255,255, .3);}

/*********************** CONTENT ***********************/
#contents {width: 100%;height: calc(100% - 110px);position: relative;display: flex;flex-flow: column wrap;gap: 16px;}
#contents h2 {}
#contents h3 {font-size: 1.34rem; color: rgba(255,255,255, .9); font-weight: 600; height: 40px; line-height: 30px; text-align: left;}
#contents h4 {font-size: .8rem; color: rgba(255,255,255, .5); font-weight: 400; height: 30px; line-height: 30px; text-align: center;}
#contents .con { background-color: #313131; border-radius: 16px; padding: 16px; box-sizing: border-box;}

/* server */
.server_wrap {width: 100%;height: 310px;position: relative;}
.server_wrap .label {width: auto; position: absolute; right: 0; top: 6px;}
.server_wrap .label ul {text-align: right;}
.server_wrap .label ul li {display: inline-block; position: relative; font-size: .8em; padding-left: 12px; margin-right: 10px;}
.server_wrap .label ul li:last-child {margin-right: 0;}
.server_wrap .label ul li::before {width: 8px; height: 8px; border-radius: 50%;display: block; position: absolute; left: 0; top: 5px; content:'';}
.server_wrap .label .rnd {color: var(--color-rnd);}
.server_wrap .label .rnd::before {background-color: var(--color-rnd);}
.server_wrap .label .khnp {color: var(--color-khnp);}
.server_wrap .label .khnp::before {background-color: var(--color-khnp);}
.server_wrap .label .db {color: var(--color-db);}
.server_wrap .label .db::before {background-color: var(--color-db);}
.server_wrap .label .work {color: var(--color-work);}
.server_wrap .label .work::before {background-color: var(--color-work);}
.server_wrap .label .his {color: var(--color-his);}
.server_wrap .label .his::before {background-color: var(--color-his);}
.server_wrap .label .gis {color: var(--color-gis);}
.server_wrap .label .gis::before {background-color: var(--color-gis);}
.server_wrap .con_wrap {width: 100%; height: calc(100% - 40px); display: flex; flex-flow: column wrap; gap: 8px;}
.server_wrap .con {flex: 1 16.6%; height: 100%; width: calc(16.6666% - 8px);}
.server_con_wrap {height: calc(100% - 40px); width: 100%;}
.server_active {box-sizing: border-box; /*box-shadow: 5px 5px 5px rgba(0,103,255,.45);*/ position: relative; background-color: #222222 !important;}
.server_active::before {width: 100%; height: 100%; border: 4px solid  var(--color-pink);  content:''; position: absolute; left: 0; top: 0; border-radius: 16px;}
.server_range {width: 100%;height: 120px;margin-bottom: 8px;}
.range_wrap {display: flex; justify-content: center; align-items: center; float: left; width: calc(50% - 4px); height: 100%;}
.range_wrap .range_con { width: 33%;  text-align: center;}
.range_wrap .range_con > div {position: relative;height: 70px;}
.range_wrap .range_con label {font-size: .8rem; color: rgba(255,255,255, .8); font-weight: 400; line-height: 1; text-align: center;}
.range_wrap .range_con input[type=range][orient=vertical] {writing-mode: vertical-lr; direction: rtl; appearance: slider-vertical; width: 16px; height: 100%; vertical-align: bottom; accent-color: #4D98FE; border: 0;}
.range_wrap .range_con input[type=range].active {accent-color: var(--color-pink) !important;}
.range_row {display: flex; flex-flow: row wrap; height: 100%; padding: 10px 0 0; box-sizing: border-box;}
.range_row > div {flex: 1;gap: 4px;height: 30px !important;}
.range {height:100%;width: 16px; background-color: #636363; margin: 0 auto; border-radius: 8px; position: relative; overflow: hidden; }
.range .range_h {position: absolute !important; left:0; bottom: 0; width: 100%; background-color: var(--color-blue); border-radius: 8px; }
.range .range_h.active {background-color: var(--color-pink);}
.range .range_h.caution {background-color: var(--color-yellow);}
.network_wrap {float: right; width: calc(50% - 4px); height: 100%;}
.network_con {width: 100%;height: 90px;position: relative;}
.network_con.none {background-color: rgba(255,255,255, .05);}
.network_con.none p {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); text-align: center; font-size: 1rem; line-height: 1.2; color: rgba(255,255,255,.3);}
.server_pointer {}
.server_pointer ul {display: flex; flex-flow: row wrap; gap: 4px; height: 100%; justify-content: space-around;}
.server_pointer ul li {flex: 1; text-align: center;}
.server_pointer ul li h4 {font-size: .7rem !important;}
.server_pointer ul li span {display: block; margin: 4px auto 0; width: 16px; height: 16px; border-radius: 50%; background-color: var(--color-gray);}
.server_pointer ul li span.active {background-color: var(--color-pink);}
.server_temp {display: flex; flex-flow:row wrap; gap: 8px; font-size: 1rem;}
.temp_wrap {flex: 1; text-align: center; padding: 8px 0;}
.temp_wrap h4 {height: 24px !important; line-height: 24px !important;}
.temp_wrap div {display: flex; flex-flow: row wrap; align-items: center; justify-content:center; height: calc(100% - 30px); gap: 4px; color: var(--color-white);}
.temp_wrap div p { font-size: 1.5rem; font-weight: 600; letter-spacing: -.05rem;}
.temp_wrap div small {font-size: .8rem;}
.temp_wrap div.active {color: var(--color-pink) !important;}
.last_wrap {flex: 1; text-align: center; padding: 8px 0;}
.last_wrap h4 {height: 24px !important; line-height: 24px !important;}
.last_wrap div {display: flex; flex-flow: row wrap;  align-items: center; justify-content:center; height: calc(100% - 24px); gap: 4px;}
.last_wrap div p {font-size: 1.5rem; font-weight: 600; letter-spacing: -.05rem;}
.last_wrap div small {font-size: .8rem;}

/* result */
.result_wrap {flex: 1; width: 100%; height: calc(100% - 356px);}
.result_wrap .con.used {float: left;width: calc(16.6% - 8px);height: 100%;}
.used_wrap {height: calc(100% - 50px); margin-top: 10px; display: flex; flex-flow: column wrap; gap: 8px;}
.con_used {flex: 1; display: flex; flex-flow: row wrap; gap: 8px; align-items: center; width: 100%;}
.con_used h4 {width: 50px; text-align: left !important; font-size: .9rem !important; font-weight: 600 !important;}
.con_used .item_wrap {flex: 1 16%; position: relative; height: 100%; width: 100%; display: flex; flex-flow: column wrap; gap: 8px; padding: 10px 0;}
.con_used .item_wrap::before {position: absolute; content:''; left: -1px; top: 0; width: 1px; height: 100%; background: rgba(255,255,255, .5);}
.con_used .item {position: relative; flex: 1; width: calc(100% - 46px);}
.con_used .item span {width: 46px; position:absolute; right: -46px; top: 0; line-height: 16px; height: 16px; text-align: right; font-size: .8rem; color:rgba(255,255,255, 1); font-weight: 200;}
.con_used .item div {position:relative; height: 100%; border-top-right-radius: 8px; border-bottom-right-radius: 8px;}
.con_used .item div::before { position: absolute;  left: 4px; top:50%; width: auto; height: 18px; line-height: 18px; color: #fff; text-shadow: 0 1px rgba(0,0,0, 1); font-size: .8rem; font-weight: 600; transform: translateY(-50%);}
.con_used .item div.rnd {background-color: var(--color-rnd);}
.con_used .item div.rnd::before { content:'RND'; }
.con_used .item div.khnp {background-color: var(--color-khnp);}
.con_used .item div.khnp::before { content:'KHNP'; }
.con_used .item div.db {background-color: var(--color-db);}
.con_used .item div.db::before { content:'DB'; }
.con_used .item div.work {background-color: var(--color-work); }
.con_used .item div.work::before {content:'WORK'; }
.con_used .item div.his {background-color: var(--color-his); }
.con_used .item div.his::before {content:'HIS'; }
.con_used .item div.gis {background-color: var(--color-gis);}
.con_used .item div.gis::before { content:'GIS'; }
.result_wrap .con.error {float: left;width: calc(50.6% - 16px);margin: 0 8px;display: flex;flex-flow: column wrap;gap: 16px;height: 100%;position: relative;}
/*.result_wrap .con.error::before {content:''; position:absolute; left: 0; top: calc(50% - 2px); width: 100%; height: 4px; background: #222222;}*/
.result_wrap .con.error > div {flex: 1; width: 100%;  height: calc(50% - 16px);}
.result_wrap .con.error .error_wrap {width: 100%; height: calc(100% - 40px);}
.result_wrap .con.board {float: right;width: 33.2%;height: 100%;}
.mCSB_inside>.mCSB_container {margin-right: 14px;}
.btn_confirm { border-radius: 4px; padding: 0; margin: 0; display: block; text-align: center; width: 90px; transition: all .2s ease; color:var(--color-white); background-color: var(--color-pink);}
.btn_confirm:hover {background-color: #3788ff;}
.btn_confirm:disabled {color: #fff; opacity: .4; border: 0; background-color: #666666;}

/* header top */
.header_top {height: 30px; background-color: rgba(255,255,255, .02); width: calc(100% + 48px); margin-left: -24px; box-shadow: 5px 5px 5px rgba(0,0,0,.2);}
.header_top ul {text-align:right;}
.header_top ul li {display: inline-block; font-size: .8em; font-weight: 400; color: #666666; line-height: 30px; transition: all .2s ease; position: relative; padding-right: 20px;}
.header_top ul li:last-child {padding-right: 24px;}
.header_top ul li a.active {font-weight: 600;}
.header_top ul li:hover {cursor: pointer;}
.header_top ul li a.active, .header_top ul li:hover {color: #999999; }
.header_top ul li::before{position: absolute;right: 9px; top: 10px; width: 1px; height: 10px; background-color:#666666; content:'';}
.header_top ul li:last-child::before {display: none;}

.board_none {display: flex; align-items: center !important;}
.board_none > div {text-align: center; width: 100%; color: #636363;}

/* 2026.02.24 cjk*/
.status-badge {display: inline-flex; align-items: center; gap: 10px; border: 1px solid rgba(255, 255, 255, .2); border-radius: 4px; padding: 2px 8px; font-size: 13px; color: #636363; letter-spacing: 1.5px; text-transform: uppercase; width: 100%; height: 100%; line-height: 1;}
.status-badge .blink {width: 15px; height: 15px; border-radius: 50%; background: #636363; animation: none;}
.status-badge.active {color: #00f1ff; background: rgba(0, 241, 255, 0.08); border-color: rgba(0, 241, 255, 0.25);}
.status-badge.active .blink {background: #00f1ff; animation: blink-g 1.2s ease-in-out infinite;}
@keyframes blink-g {
  0%, 100% {opacity: 1;}
  50%      {opacity: 0.2;}
}

#device .c_device {color: rgba(255, 255, 255, .5);}
#device .range_wrap {flex-direction: column; justify-content: center; align-items: flex-start; padding: 12px 14px; gap: 6px;}
#device .status-indicator {height: 35px; background-color: transparent; border: none; border-radius: 0; flex: none; display: block; width: 100%; margin-bottom: 8px;}
#device .user-name {color: rgba(255, 255, 255, .5); font-size: 1.3em; font-weight: 700; letter-spacing: .05em;}
#device .user-name.active {color: #FFFFFF; font-size: .9em; font-weight: normal; letter-spacing: .05em;}
#device .device-name {font-size: .8rem; margin-top: 2px; height: 20px; color: rgba(255, 255, 255, .5);}
#device .user-info {flex-direction: column; align-items: flex-start; gap: 2px; height: 40px;}
#device .user-text {display: flex; flex-direction: column; gap: 2px;}
